.container {
  user-select: none;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.toggler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--light-background-colour);
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.toggler > * {
  background-color: var(--light-note-background-colour);
  color: var(--light-note-colour);
  padding: 0.5rem;
  width: 90%;
  text-align: center;
  border: 0.1rem solid var(--light-note-colour);
  border-radius: 0.5rem;
}

.toggler > *:hover {
  background-color: var(--light-note-hover);
  color: var(--dark-note-colour);
}
