.fret-container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-background-colour);
  border-width: 0;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-style: solid;
  border-color: var(--light-fret-colour);
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.fret-component {
  height: 50%;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  margin-left: -0.1rem;
  margin-right: -0.1rem;
}

.fret-top {
  border-width: 0;
  border-bottom-width: 0.1rem;
  border-style: solid;
  border-color: var(--light-string-colour);
  display: flex;
  justify-content: right;
  position: relative;
}

.fret-bottom {
  border-width: 0;
  border-top-width: 0.1rem;
  border-style: solid;
  border-color: var(--light-string-shadow);
}

.note {
  position: absolute;
  bottom: -1rem;
  padding: 0.1rem;
  background-color: var(--light-note-background-colour);
  border-width: 0.1rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: transparent;
  z-index: 10;
  color: var(--light-note-colour);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.selected {
  background-color: var(--light-note-selected);
  color: var(--dark-note-colour);
}

.note > * {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}

@media (hover: hover) {
  .note:hover {
    background-color: var(--light-note-hover);
    color: var(--dark-note-colour);
  }
}
