<div class="container">
  <div class="tunings">
    <div class="tuning" *ngFor="let tuning of tunings">
      {{ tuning.stringNote }}
    </div>
  </div>
  <div class="fret-board">
    <app-string
      class="top-string"
      [numberFrets]="numberFrets"
      [stringTuning]="tunings[0]"
      [showNotes]="showNotes"
      [showFlats]="showFlats"
      [resetToggle]="resetToggle"
      (selectEvent)="onSelectEvent($event, tunings[0].index)"
      [changeTrigger]="changeTrigger"
      [multiSelect]="multiSelect"
    ></app-string>
    <app-string-gap
      [numberFrets]="numberFrets"
      [fretsToMark]="[11]"
    ></app-string-gap>
    <app-string
      [numberFrets]="numberFrets"
      [stringTuning]="tunings[1]"
      [showNotes]="showNotes"
      [showFlats]="showFlats"
      [resetToggle]="resetToggle"
      (selectEvent)="onSelectEvent($event, tunings[1].index)"
      [changeTrigger]="changeTrigger"
      [multiSelect]="multiSelect"
    ></app-string>
    <app-string-gap [numberFrets]="numberFrets"></app-string-gap>
    <app-string
      [numberFrets]="numberFrets"
      [stringTuning]="tunings[2]"
      [showNotes]="showNotes"
      [showFlats]="showFlats"
      [resetToggle]="resetToggle"
      (selectEvent)="onSelectEvent($event, tunings[2].index)"
      [changeTrigger]="changeTrigger"
      [multiSelect]="multiSelect"
    ></app-string>
    <app-string-gap
      [numberFrets]="numberFrets"
      [fretsToMark]="[2, 4, 6, 8, 14, 16]"
    ></app-string-gap>
    <app-string
      [numberFrets]="numberFrets"
      [stringTuning]="tunings[3]"
      [showNotes]="showNotes"
      [showFlats]="showFlats"
      [resetToggle]="resetToggle"
      (selectEvent)="onSelectEvent($event, tunings[3].index)"
      [changeTrigger]="changeTrigger"
      [multiSelect]="multiSelect"
    ></app-string>
    <app-string-gap [numberFrets]="numberFrets"></app-string-gap>
    <app-string
      [numberFrets]="numberFrets"
      [stringTuning]="tunings[4]"
      [showNotes]="showNotes"
      [showFlats]="showFlats"
      [resetToggle]="resetToggle"
      (selectEvent)="onSelectEvent($event, tunings[4].index)"
      [changeTrigger]="changeTrigger"
      [multiSelect]="multiSelect"
    ></app-string>
    <app-string-gap
      [numberFrets]="numberFrets"
      [fretsToMark]="[11]"
    ></app-string-gap>
    <app-string
      class="bottom-string"
      [numberFrets]="numberFrets"
      [stringTuning]="tunings[5]"
      [showNotes]="showNotes"
      [showFlats]="showFlats"
      [resetToggle]="resetToggle"
      (selectEvent)="onSelectEvent($event, tunings[5].index)"
      [changeTrigger]="changeTrigger"
      [multiSelect]="multiSelect"
    ></app-string>
  </div>
</div>
