div {
  user-select: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: var(--light-background-colour);
  box-shadow: var(--box-shadow);
  /* width: 98vw; */
  height: 80%;
  border-width: 0;
  border-left-width: 0.1rem;
  border-right-width: 0.1rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.1rem;
}

.tunings {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tuning {
  color: var(--light-tuning-colour);
  text-align: center;
  width: 1.5rem;
}

.top-string {
  padding-top: 0.1rem;
}

.bottom-string {
  padding-bottom: 0.1rem;
}
