.container {
  display: flex;
  flex-direction: row;
  user-select: none;
  padding: 0.5rem;
  width: 12rem;
}

.cycler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--light-background-colour);
  box-shadow: var(--box-shadow);
  width: 100%;
}

.cycler > * {
  background-color: var(--light-note-background-colour);
}

.selected {
  padding: 0.5rem;
  border-top: 0.1rem solid var(--light-note-colour);
  border-bottom: 0.1rem solid var(--light-note-colour);
  width: 60%;
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 0.5rem;
  border: 0.1rem solid var(--light-note-colour);
}

.left {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.right {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}


@media (hover: hover) {
  .button:hover {
    background-color: var(--light-note-hover);
    color: var(--dark-note-colour);
  }
}
