<app-six-string-fret-board
  [selectedTuning]="tuning"
  [showNotes]="showNotes"
  [showFlats]="showFlats"
  [resetToggle]="reset"
></app-six-string-fret-board>
<div class="buttons">
  <app-tuning-cycler
    (tuningSelectionEvent)="onTuningSelection($event)"
  ></app-tuning-cycler>
  <app-toggler
    (toggleEvent)="onNotesToggle($event)"
    trueText="Hide Notes"
    falseText="Show Notes"
  ></app-toggler>
  <app-toggler (toggleEvent)="onFlatsToggle($event)" trueText="Show Sharps" falseText="Show Flats"></app-toggler>
  <app-button (clickEvent)="onResetButtonClick()" displayText="Reset" ></app-button>
</div>
