.container {
  height: 95vh;
}

.buttons{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  height: 20%;
}

.small-toggler {
  width: 10rem;
}

.medium-toggler {
  width: 12rem;
}

.large-toggler {
  width: 15rem;
}

.orientation-message-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.orientation-message {
  padding: 1rem;
  border: 0.1rem solid var(--light-note-colour);
  border-radius: 0.5rem;
  background-color: var(--light-note-background-colour);
  box-shadow: var(--box-shadow);
}
