/* You can add global styles to this file, and also import other style files */
:root {
  --light-background-colour: #C4A484;
  --light-marker-colour: silver;
  --light-string-colour: gold;
  --light-string-shadow: rgba(0, 0, 0, 0.116);
  --light-fret-colour: silver;
  --light-tuning-colour: beige;
  --light-note-background-colour: beige;
  --dark-note-colour: beige;
  --light-note-colour: rgb(88, 88, 88);
  --light-note-hover: rgb(109, 109, 109);
  --light-note-selected: #c08b57;
  --box-shadow: 0.1rem 0.2rem 0.5rem black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
